#sidebar_wrapper {
	z-index:1;
	position:absolute;
	right:0;
	top:0;
	width:0;
	height:100%;
	overflow-y:hidden;
	background:#ffffff;
	margin-top:76px;
	border-left:1px solid #cccccc;
}

#page_content_wrapper {
	margin:auto; 
	width:100%;
	height:auto; 
	margin:auto;
}


/*change the width of sidebar to display it */
.menuDisplayed #sidebar_wrapper {
	width:500px;	
}

.menuDisplayed #page_content_wrapper {
	padding-right:500px;	
}

