<table width="98%" cellpadding="0" cellspacing="10" ID="Table1">
<tr>
		<td class="page_headers" align="left" colspan="5">My Account</td>
	</tr>
<tr><td align="center" class="item" colspan="5">
<!--START: error_message-->
[error_message]
<!--END: error_message--></td></tr>
<tr><td valign="top" align="center">

<form action="login.asp?ordertracking=[otrack]" method="post" ID="Form1">
<input type="hidden" name="catalogid" value="[catalogid]" ID="Hidden1">
<table width="400" cellpadding="0" cellspacing="0" ID="Table2">
<tr><td class="checkout-headers" colspan="2">[login_Header-login]</td></tr>

<tr><td><table width="100%" cellpadding="2" cellspacing="0" class="alternative" ID="Table3"><tr><td class="item" colspan="2">[login_Header-loginmessage]</td></tr>
<tr><td class="item" align="right" width="100"><strong>[CustomerInfo_email]:</strong></td>
<td><INPUT type="text" size="30" name="email" value="[email]" class="txtBoxStyle" ID="Text1"></td></tr>
<tr><td align="right" class="item" ><strong>[CustomerInfo_password]:</strong></td>
<td><INPUT type="password" size="12" autocomplete="off" name="password" class="txtBoxStyle" ID="Password1"></td></tr>
		<tr>
			<td class="item" align="right"><strong>[registration_verification]:</td>
			<td class="item">
				<img src="admin/image_pw.asp?p=<%=now()%>" border="0" width="148">
				<br>[registration_verification_message]<br>
				<input type="text" name="randomWord" id="randomWord" value="" size="25" maxlength="30"  class="txtBoxStyle">
			</td>
		</tr>	
<tr><td>&nbsp;</td><td align="left"><input type=submit value="[login_button]" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit1" NAME="Submit1"></td></tr></table></td></tr></table>
</form>

<br />
<table width="400" cellpadding="0" cellspacing="0" ID="Table4"><form action="login.asp?action=forgotpass&ordertracking=[otrack]" method="post" ID="Form2">
 <tr><td class="checkout-headers" colspan="3">[login_Header-forgotpassword]</td></tr>

<tr><td align="center">
<table width="100%" cellpadding="2" cellspacing="0" class="alternative" border="0" ID="Table5"><tr><td align="right" class="item" width="100"><strong>[CustomerInfo_email]:</strong></td>
<td><INPUT type="text" size="30" name="email" value="[email]"  class="txtBoxStyle" ID="Text2"></td></tr>
		<tr>
			<td class="item" align="right"><strong>[registration_verification]:</td>
			<td class="item">
				<img src="admin/image_pw.asp?p=<%=now()%>" border="0" width="148">
				<br>[registration_verification_message]<br>
				<input type="text" name="randomWord" id="Text3" value="" size="25" maxlength="30"  class="txtBoxStyle">
			</td>
		</tr>
<tr><td>&nbsp;</td><td class="item">
<input type=submit value="Reset my password" class="btn" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'" ID="Submit2" NAME="Submit2">
<br>
We will send you an email with a link to reset your password.
</td></tr></table></td></tr>
</form>
</table>



<form action="login.asp?action=forgotpass&ordertracking=[otrack]" method="post" ID="Form3">

<table width="400" cellpadding="0" cellspacing="0" ID="Table6"> <tr>
        <td class="checkout-headers" colspan="3">
            [registration_Header-createnewaccount]</td>
    </tr><tr><td>

<table width="100%" cellpadding="2" cellspacing="0" class="alternative" ID="Table7">



  <tr>
                        <td align="left" class="item"  colspan="3">
                            [registration_create-account]</td>
		    </tr>
                <tr>
                      <td class="item" colspan="3">
                <input type="button" value="[registration_button-createaccount]" class="btn" onmouseover="this.className='btn_over'"
                    onmouseout="this.className='btn'" onclick="window.location='register.asp?cg=0';" ID="Button1" NAME="Button1">                            
			</td>
                    </tr>
                  
                   
</table>

</td></tr></table>


</form>



</td></tr>



</table>
