<table width="95%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="page_headers" align="left" colspan="2">[account_header-myaccount]</td>
	</tr>
	<tr class="item">
		<td><b>[account_welcome] <!--START: username--> [username]</b><br>If you're not [username], <a href="logout.asp"><span class="item">click here</span></a><!--END: username--></td><td align="right"><input name="logout" type="button" class="btn" onclick="window.location='logout.asp';"
							value="Logout" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'"></td>
	</tr>
    <tr><td colspan="2">&nbsp;</td></tr>
       <tr><td class="borders" colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td></tr>
    <!--START: CATEGORY_HEADER-->
	<tr>
		<td class="data" colspan="2">&nbsp;[CONTENT]</td>
	</tr>
    <tr><td>&nbsp;</td></tr>
	<!--END: CATEGORY_HEADER-->

<tr><td colspan="2">
<table width="100%" cellpadding="2" cellspacing="0">
<tr><td width="120" align="left" class="item" rowspan="2"><strong>[account_billing-info]</strong></td><td align="left" class="item">[billing_firstname] [billing_lastname]&nbsp;[billing_address]&nbsp;[billing_address2]&nbsp;[billing_city], [billing_state] [billing_zip] 
						[billing_country]</td><td align="right" class="item" valign="middle"><a href="myaccount.asp?action=updacc">Update Address</a></td></tr>
                        <tr>
					<td align="left" class="item" colspan="2">[billing_phone]</td>
				</tr>
</table>
</td></tr>
   <tr><td class="borders" colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td></tr>
   <tr><td colspan="2">
<table width="100%" cellpadding="2" cellspacing="0">
<tr><td width="120" align="left" class="item" rowspan="2"><strong>[account_shipping-info]</strong></td><td align="left" class="item">[shipping_firstname] [shipping_lastname]&nbsp;[shipping_address]&nbsp;[shipping_address2]&nbsp;[shipping_city], [shipping_state] [shipping_zip] 
						[shipping_country]</td><td align="right" class="item" valign="middle"><a href="myaccount.asp?action=updacc">Update Address</a></td></tr>
                        <tr>
					<td align="left" class="item" colspan="2">[shipping_phone]</td>
				</tr>
</table>
</td></tr>
   <tr><td class="borders" colspan="2"><img src="assets/templates/common/images/spacer.gif" border="0" alt="" height="1"></td></tr>
   <tr><td>&nbsp;</td></tr>
	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers" width="25">
				<img src="assets/templates/common/images/gift_viewaccount.png" border="0" align="absbottom"></td><td class="checkout-headers" align="left">[account_recent-orders]&nbsp; <a href="ordertracking.asp">view all</a></td>
	</tr></table></td></tr>
    <tr>
		<td align="left" colspan="2">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" class="alternative">
				<tr>
					<td class="titles2" width="80">[orderhistory_date]</td>
					<td class="titles2" width="150">[orderhistory_ordernum]</td>
					<td class="titles2"  width="100">[orderhistory_amount]</td>
					<td class="titles2" width="100">[orderhistory_status]</td>
					<td class="titles2" width=""></td>
				</tr>
				<!--START: ordertemplate-->
				<tr>
					<td class="item">[odate]</td>
					<td class="item">[invoicenum_prefix][invoicenum]&nbsp;				(<a href="ordertracking.asp?action=view&amp;id=[orderid]">View Details</a>)</td>
					<td class="item">[orderamount]</td>
					<td class="item">[orderstatus]</td>
					<td class="item"><a href="ordertracking.asp?action=repeat&id=[orderid]">reorder</a></td>
				</tr>
				<!--END: ordertemplate-->
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
    
    	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/gift_edit.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_addressbook] &nbsp;<a href="myaccount.asp?action=addresses">Add New Address</a></td>
	</tr></table></td></tr>
    	
	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="0" cellspacing="0" class="alternative" border="0">
				<tr>
					<td class="titles2" width="80">[account_addressbook-header-alias]</td>
					<td class="titles2" align="left">[account_addressbook-header-details]</td>
                     
				
				</tr>
				<!--START: address_book-->
				<tr class="alternative">
					<td valign="top" class="item">[address_alias]</td>
					<td class="item">
						[shipping_address] [shipping_city], [shipping_state]
					</td>
				</tr>
				<!--END: address_book-->
			
			</table>
            </td></tr>
            	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
    
    <!--START: CRM-->
    	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/question.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_crm-requests] &nbsp;<a href="crm.asp?action=add">[account_crm-add-request]</a></td>
	</tr></table></td></tr>
    	

	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="0" cellspacing="0" class="alternative" border="0">
				<tr>
					<td class="titles2" width="80">[account_crm-requests-header-id]</td>
					<td class="titles2" width="100">[account_crm-requests-header-dept]</td>
					<td class="titles2" width="100">[account_crm-requests-header-date]</td>
					<td class="titles2" width="150">[account_crm-requests-header-subject]</td>
					<td class="titles2" width="100">[account_crm-requests-header-lastact]</td>
                    
				
				</tr>
				<!--START: crmMessagesDetailNoReq-->
				<tr class="alternative">
					<td class="item" colspan="5" align="center">[account_crm-requests-norequest]</td>
				</tr>
				<!--END: crmMessagesDetailNoReq-->
				<!--START: crmMessagesDetail-->
				<tr class="alternative">
					<td class="item"><a href="crm.asp?mk=[mkey]">[crmId]</a></td>
					<td class="item">[dpt]</td>
					<td class="item">[date]</td>
					<td class="item">[subject]</td>
					<td class="item">[lastaction]</td>
				</tr>
				<!--END: crmMessagesDetail-->
				
			</table><br /></td></tr>
    <!--END: CRM-->
     
    <!--START: RMA-->

    
    	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/rma.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_rma-header]</td>
	</tr></table></td></tr>
	
	<tr>
		<td colspan="2">
		
			<table width="100%" cellpadding="0" cellspacing="0" class="alternative" border="0">
            	
				<tr class="alternative">
					<td valign="top" class="titles2" width="80">[rma_header-rmanum]</td>
					<td valign="top" class="titles2" width="100">[rma_header-rmadate]</td>
					<td valign="top" class="titles2" width="100">[rma_header-rmaorder]</td>
					<td valign="top" class="titles2" width="100">[rma_header-rmastatus]</td>
				</tr>
				<!--START: RmaItems-->
				<tr class="alternative">
					<td valign="top" class="item"><a href="my_rma.asp?oid=[OrderId]&amp;r=[idRma]" class="small">[idRma]</a></td>
					<td valign="top" class="item">[Date]</td>
					<td valign="top" class="item">[OrderNum]</td>
					<td valign="top" class="item">[RMAStatus]</td>
				</tr>
				<!--END: RmaItems-->
			</table>
			<br>
		</td>
	</tr>
	<!--END: RMA-->
    <!--START: affiliateStatistics-->
	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/affiliate.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_affiliate-statistics] &nbsp;<a href="affiliate.asp">View Details</a></td>
	</tr></table></td></tr>

	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="4" cellspacing="0" class="alternative" border="0">
				<tr>
					<td class="titles2">[affiliate_summary-header-membersince]</td>
					<td class="titles2">[affiliate_summary-header-orders]</td>
					<td class="titles2">[affiliate_summary-header-amount]</td>
					<td class="titles2">[affiliate_summary-header-commission]</td>
					<td class="titles2">[affiliate_summary-header-paid]</td>
					<td class="titles2">[affiliate_summary-header-balance]</td>
				</tr>
				<!--START: affiliateStatisticsNoOrders-->
				<tr class="alternative">
					<td class="item" colspan="6" align="center">[affiliate_no-history-to-display]</td>
				</tr>
				<!--END: affiliateStatisticsNoOrders-->
				<!--START: affiliateStatisticsDetail-->
				<tr class="alternative">
					<td class="item">[memberSince]</td>
					<td class="item">[orders]</td>
					<td class="item">[amount]</td>
					<td class="item">[totalCommission]</td>
					<td class="item">[paid]</td>
					<td class="item">[balance]</td>
				</tr>
				<!--END: affiliateStatisticsDetail-->
			
			</table>
			<br>
		</td>
	</tr>
	<!--END: affiliateStatistics-->
     <!--START: giftRegistry-->
	
	<tr><td class="checkout-headers" colspan="2"><img src="assets/templates/common/images/gift_add.png" border="0" align="absbottom">[account_giftRegistry]</td></tr>
	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="4" cellspacing="0" class="alternative" border="0" ID="Table2">
				<tr>
					<td class="titles2">[giftregistry_header-name]</td>
					<td class="titles2" align=center>[giftregistry_header-eventdate]</td>
					<td class="titles2" align=center>[giftregistry_header-expiration]</td>
					<td class="titles2" align=center>[giftregistry_header-productsdesired]</td>
					<td class="titles2" align=center>[giftregistry_header-productspurchased]</td>
				</tr>
				<tr class="alternative">
					<td valign="top" class="item" >[regName] &nbsp; <a href="giftregistry_edit.asp?action=view">view details</a></td>
					<td valign="top" class="item" align=center>[regEvent]</td>
					<td valign="top" class="item" align=center>[regExpiration]</td>
					<td valign="top" class="item" align=center>[regProductsDesired]</td>
					<td valign="top" class="item" align=center>[regProductsPurchased]</td>
				</tr>							
			
			</table>		
			<br>
		</td>
	</tr>
	<!--END: giftRegistry-->
    	<!--START: points-->
<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/rewards.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_rewards]&nbsp;<a href="reward_detail.asp">View Details</a>&nbsp;&nbsp;<a href="redeem.asp">Redeem</a></td>
	</tr></table></td></tr>

	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="4" cellspacing="0" border="0" class="alternative">
				<tr>
					<td valign="top" class="item" width="100%">[account_rewards-header-points]: 
						[points_balance]</td>
			
					
			  </tr>
			</table>
			<br>
		</td>
	</tr>
	<!--END: points-->
	<!--START: wishList-->
	<tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0"><tr>
		<td class="checkout-headers"  width="25"><img src="assets/templates/common/images/gift_view.png" border="0" align="absbottom"></td><td class="checkout-headers">[account_wishlist]&nbsp;<a href="view_wishlist.asp">View Details</a></td>
	</tr></table></td></tr>

	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="4" cellspacing="0" border="0" ID="Table1" class="alternative">
				<tr>
					<td valign="top" class="item" width="100%" colspan="2">
						[account_wishlist-header-products]: [wishListTotalItems]<br>[account_wishlist-header-lastmod]: [wishListLasMod]
					</td>
				</tr>
				
			</table>
			<br>
		</td>
	</tr>
	<!--END: wishList-->
   
		
</table>
