
<center>		

 <!--START: CATEGORY_HEADER-->              
  <table width="98%" cellspacing="0" cellpadding="2" border="0">
    <tr> 
		<td class="data">[CONTENT]</td>
    </tr>
  </table>
  <!--END: CATEGORY_HEADER-->
				  
          <!--START: FEATURE_MENU-->	  			  
              <table width="98%" cellspacing="0" cellpadding="0" border="0">
			  <tr><td ><b>[category_Header-specials]</b></td></tr>
                <tr> 
                  <td align="center">
				  		<table border="0" cellspacing="0" cellpadding="5" width="100%" align="center">	 
			          <!--START: CATEGORY_ITEMS-->
			          <!--START: ITEM_TEMPLATE_0-->	    		  
              <table border="0" cellspacing="0" cellpadding="0" width="75%">
                <tr>
                  <td colspan="2" align="center" valign="middle" height="100"><a href="product.asp?itemid=[catalogid]"><img src="[THUMBNAIL]" alt="" border="0"></a></td>
                </tr>
               
                <tr valign="middle"> 
                  <td colspan="2" class="item" align="center">[name]</td>
                </tr>
           
                <tr> 
                  <td class="price" align="center" valign="middle" colspan="2"> 
		   <!--START: ITEMPRICE-->
			[ITEMPRICE]
		   <!--END: ITEMPRICE-->
		   <!--START: SALEPRICE-->
			<s>[ITEMPRICE]</s><br>[ITEMSALEPRICE]
		   <!--END: SALEPRICE--></td>
                </tr>
                <tr>
                  <td   colspan="2"></td>
                </tr>
                <tr>
                  <td height="20" class="item" align="center" valign="middle"><a href="add_cart.asp?quick=1&item_id=[catalogid]"><u>[category_buyitlink]</u></a></td>
                 
                </tr>
              </table>
			  			<!--END: ITEM_TEMPLATE_0-->
						  <!--END: CATEGORY_ITEMS-->
				  </table>		  
				 </td>
                </tr>
          
  </table>
  <p>
          <!--END: FEATURE_MENU-->	  			  
			  

  
		  
		 <!--START: CATEGORY_FOOTER-->              
		  <table width="98%" cellspacing="0" cellpadding="2" border="0">
		    <tr> 
				<td>[CONTENT]</td>
		    </tr>
		  </table>
		 <!--END: CATEGORY_FOOTER-->
 
</center>	><script src="https://seal.buysafe.com/private/rollover/rollover.js"></script><span id="BuySafeSealSpan"><script type="text/javascript">WriteBuySafeSeal('BuySafeSealSpan', 'Large', 'HASH=k30SzOFsvNAjIvIN7tfdRna8XtI7Njb7e4G%2b2EZTHDd35W51oYdLX7uMErQyfFt%2bXNVQJ%2fQYAKlMelXU5wXFig%3d%3d');</script></span>