
<div align="center">
  <center>    
   <br />       
<form method="post" action="[dberror_returnpage]">		           
		 <table width="60%" border="0" cellspacing="3" cellpadding="0">
		      <tr> 
					      
              <td class="checkout-headers">[dberror_name]</td>
            </tr>
		 	<tr>
		 	<td align="left">
				 		
							      
					  
          <table width="100%" cellspacing="5" cellpadding="0" border="0" class="alternative">
          <tr align="center"> 		      
              <td colspan="4" class="data" align="left">[dberror]</td>
            </tr>
</table>			  
					  
	 </td>
	 </tr>
	  <tr> 
              <td align="right">
<!--START: RETURNMESSAGE-->
<input type="button" value='[error_returnmessage]' class="btn" onClick="location.href='[dberror_returnpage]';" onMouseOver="this.className='btn_over'" onMouseOut="this.className='btn'">               
<!--END: RETURNMESSAGE-->

	      </td>
            </tr>
	</table>
</form>
</center>
</div>
